.header {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 13px;
	color: #000000;;
	display: inline-block;
	margin-right: 35px;
}
#img {
	margin-top: 20px;
	vertical-align: sub;
}
.container {
	width: 1166px;
	margin: 0 auto;
}
.footer {
	height: 201px;
	background: #243043;
}
.footer2 {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #818687;
	margin-right: 90px;
	margin-top: 60px;
	vertical-align: middle;
}
.footer3 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	margin-top: 60px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	vertical-align: sub;
}
.logo {
	margin-top: 70px;
	vertical-align: middle;
	margin-left: 420px;
	margin-bottom: 130px;
}
.cl {
	margin-bottom: 10px;
}
.img {
	margin-right: 26px;
}
.card {
	height: 171px;
	background: #f0f0f0;
	position: relative;
}
.head {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin: 40px 0px 25px;
}
.s2 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	margin: 60px 0px 30px;
}
.img2 {
	margin-right: 35px;
	margin-bottom: 35px;
	width: 758px;
	height: 430px;
}
.img3 {
	width: 362px;
	height: 212px;
}
.img4 {
	display: inline-block;
}
#im {
	margin-top: -160px;
}
#im1 {
	margin-top: 90px;
}
.car1 {
	margin-bottom: 10px;
}
.ti {
	display: inline-block;
}
.car {
	margin-left: 50px;
	display: inline-block;
}
.msh {
	position: relative;
}
.sh {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	top: 200px;
	left: 280px;
}
.mshob {
	position: relative;
}
.shvi {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	bottom: 130px;
	left: 40px;
}
.shvili {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	color: #8A8787;
	top: 55px;
	left: 40px;
}
#imgti {
	position: absolute;
	top: 109px;
	left: 45px;
}
#pti {
	position: absolute;
	top: 112px;
	left: 20px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	color: #8A8787;
}